<!-- PHCTitleSEO Title Variables -->
<% phc_title "Customer Manager" %>
<% phc_title_tagline "Stripe Customer List" %>
<% phc_breadcrumb_one "Home" %>
<% phc_breadcrumb_two yield(:phc_title_tagline) %>
<!-- PHCTitleSEO Title Variables -->

<!-- Page Bradcrumbs -->
<ol class="breadcrumb pull-right">
	<li class="breadcrumb-item"><%= yield(:phc_breadcrumb_one) %></li>
	<li class="breadcrumb-item active"><%= yield(:phc_breadcrumb_two) %></li>
</ol>
<!-- Page Bradcrumbs -->

<!-- Page Header -->
<h2 class="page-header"><%= yield(:phc_title) %></h2>
<!-- Page Header -->

<!-- Page Content -->
<div class="row">
	<div class="col-lg-12">

		<!-- Panel -->
		<div class="panel panel-inverse">

			<!-- Panel - Heading -->
            <div class="panel-heading">
                <h4 class="panel-title"><%= yield(:phc_title_tagline) %></h4>
            </div>
			<!-- Panel - Heading -->

			<!-- Panel - Body -->
			<div class="panel-body">

				<!-- Index - Table -->
				<div class="table-responsive">
					<table class="table table-striped table-bordered">

                        <thead>
                            <tr>
                                <th>Account Name</th>
                                <th>Invoice Amount</th>
                                <th>Invoice Paid</th>
                                <th>Invoice Due</th>
                            </tr>
                        </thead>

                        <tbody>
                            <% @user_invoice_list.each do |user_invoice| %>
                                <tr>
                                    <td><%= user_invoice.account_name %></td>
                                    <td><%= '%.2f' % BigDecimal(user_invoice.amount_due/100).to_i + ' ' + user_invoice.currency.upcase %></td>
                                    <td><%= '%.2f' % BigDecimal(user_invoice.amount_paid/100).to_i + ' ' + user_invoice.currency.upcase %></td>
                                    <td><%= '%.2f' % BigDecimal(user_invoice.amount_remaining/100).to_i + ' ' + user_invoice.currency.upcase %></td>
                               </tr>
					        <% end %>
						</tbody>

					</table>
				</div>
				<!-- Index - Table -->

			</div>
			<!-- Panel - Body -->

		</div>
		<!-- Panel -->

	</div>
</div>
<!-- Page Content -->